<header class="hhmarvel">
    <div class="logo-home">
        <a routerLink="project"><img src="../../../assets/media/img/Marvel_Logo.svg" alt="Marvel"></a>
    </div>
    <div class="search-block">
        <input type="search" [formControl]="searchCharacter" />
        <button type="submit" (click)="onSubmit()">Buscar</button>
    </div>
</header>