<article class="card" *ngFor="let character of characters">
  <h4>{{ character.name }}</h4>
  <section class="header-card">
    <img
      [src]="character.thumbnail.path + '.' + character.thumbnail.extension"
    />
  </section>
  <section>
    <p>{{ character.description }}</p>
  </section>
  <section class="footer-card">
    <button (click)="back()" type="button">Volver</button>
  </section>
</article>

