<article class="card" *ngFor="let character of characters">
  <h4>{{ character.name }}</h4>
  <section class="header-card">
    <img
      [src]="character.thumbnail.path + '.' + character.thumbnail.extension"
    />
  </section>
  <section class="footer-card">
    <button (click)="seeMore(character.id)" type="button">Ver más</button>
  </section>
</article>

  