/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    background-color: #18171c;

    .hhmarvel {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #ED1D24;
    
        .logo-home a img {
            width: 100%;
            max-width: 14rem;
        }
    
        .search-block {
            display: flex;
            input {
                border: 1px solid white;
                border-right: unset;
                background-color: #ccc;
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
                height: auto;
                padding-left: 8px;
            }
            
            button {
                background-color: black;
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 16px;
                font-weight: 500;
                height: 3rem;
                cursor: pointer;
            }
        }
    }

    .card {
        color: white;
        
        h4 {
            text-align: left;
            font-family: verdana;
            text-transform: uppercase;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .header-card {
            img {
                width: auto;
                height: 300px;
                max-width: 300px;
                border: 2px solid #ED1D24;
                background-size: cover;
                border-radius: 4px;
            }
        }
    }

    .footer-card {
        text-align: center;
        margin-top: 10px;

        button {
            background-color: #6c8592;
            color: white;
            padding: 6px 24px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 14px;
            font-weight: 500;
            cursor: pointer;

            &:hover {
                background-color: #3e5f8a;
            }
        }
    }

    app-character {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;
        justify-items: center;
        padding: 30px 15px;
    }

    app-character-detail {
        .content-detail {
            font-family: Verdana, Geneva, Tahoma, sans-serif;

            .detail-card {
                display: flex;
                flex-direction: column;
            }
        }
    }
}